---
layout: root
ref: index
lang: en
---

<main>
  <section id="start" class="sec sec-home">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li class="current">
              <a href="/#start">
                <span class="glitch" data-text="START">
                  <span class="navtxt"><span>ST</span><span hidden>A</span><span>RT</span></span>
                </span>
              </a>
            </li>
            <li>
              <a href="/#profile">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>F</span><span hidden>I</span><span>L</span><span hidden>E</span></span>
              </a>
            </li>
            <li>
              <a href="/#projects">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>C</span><span hidden>TS</span></span>
              </a>
            </li>
            <li>
              <a href="/#journal">
                <span class="navtxt"><span>J</span><span hidden>OU</span><span>RN</span><span hidden>A</span><span>L</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <article>
      <div class="wrap">
        <header class="atc-header">
          <h1>WELCOME</h1>
        </header>
        <!-- {% include figure/css_atom.html %} -->
        <section>
          <div class="sec-section">
            <div class="sec-text">
              <h2>Hello, I'm <a href="#profile">Acemir</a>,<br><a href="#projects" title="View design projects">Designer</a> &amp; <a href="#projects" title="View development projects">Developer</a><br>of interactive products.</h2>
            </div>
          </div>
        </section>
      </div>
    </article>
  </section>
  <section id="profile" class="sec sec-about">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li>
              <a href="#start">
                <span class="navtxt"><span>ST</span><span hidden>A</span><span>RT</span></span>
              </a>
            </li>
            <li class="current">
              <a href="#profile">
                <span class="glitch" data-text="PROFILE">
                  <span class="navtxt"><span>PR</span><span hidden>O</span><span>F</span><span hidden>I</span><span>L</span><span hidden>E</span></span>
                </span>
              </a>
            </li>
            <li>
              <a href="#projects">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>C</span><span hidden>TS</span></span>
              </a>
            </li>
            <li>
              <a href="#journal">
                <span class="navtxt"><span>J</span><span hidden>OU</span><span>RN</span><span hidden>A</span><span>L</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <article>
      <div class="wrap">
        <header class="atc-header">
          <h1>ABOUT ME</h1>
        </header>
        <section>
          <!-- <figure class="profile">
            <div class="pic">
              <div class="pic-wrap">
                <object class="profile-pic" data="{{ "/assets/img/photo_512_export.min.svg" | prepend: site.baseurl }}" type="image/svg+xml">
                  <img class="profile-pic" src="{{ "/assets/img/photo_512_export.png" | prepend: site.baseurl }}" alt="Profile picture" />
                </object>
              </div>
            </div>
          </figure> -->
          <div class="sec-section">
            <div class="sec-text">
              <h2>Pixel, Paint & Code.</h2>
              <p>I'm a <strong>versatile professional</strong> with over <strong>10 years of work experience</strong> and ever growing knowledge and interest in <strong>digital design</strong>, <strong>software development</strong> and <strong>visual arts</strong>, I'm able to work in several stages involving the design and development of <strong>interactive products.</strong></p>
              <h2>Let's connect us?</h2>
              <p>Feel free to contact me by <strong><a href="mailto:acemirsm@gmail.com">email</a></strong> or across the web.</p>
              <ul class="social">
                <!-- <li><a class="btn" href="mailto:acemirsm@gmail.com"><span>acemirsm@gmail.com</span></a></li> -->
                <li><a class="btn" href="//behance.net/acemir" target="_blank" title="Take a look at my portfolio on Behance"><span class="symbol"><span class="ico">&#xe009;</span><span>Take a look at my portfolio on <strong>Behance</strong></span></span></a></li>
                <li><a class="btn" href="//github.com/acemir" target="_blank" title="Check out my open source projects on Github"><span class="symbol"><span class="ico">&#xe037;</span><span>Check out my open source projects on <strong>Github</strong></span></span></a></li>
                <li><a class="btn" href="//linkedin.com/in/acemir" target="_blank" title="View my profile on LinkedIn"><span class="symbol"><span class="ico">&#xe052;</span><span>View my profile on <strong>LinkedIn</strong></span></span></a></li>
                <li><a class="btn" href="//twitter.com/acemir" target="_blank" title="Follow me on Twitter"><span class="symbol"><span class="ico">&#xe086;</span><span>Follow me on <strong>Twitter</strong></span></span></a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </article>
  </section>
  <section id="projects" class="sec sec-works sec-auto">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li>
              <a href="#start">
                <span class="navtxt"><span>ST</span><span hidden>A</span><span>RT</span></span>
              </a>
            </li>
            <li>
              <a href="#profile">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>F</span><span hidden>I</span><span>L</span><span hidden>E</span></span>
              </a>
            </li>
            <li class="current">
              <a href="#projects">
                <span class="glitch" data-text="PROJECTS">
                  <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>C</span><span hidden>TS</span></span>
                </span>
              </a>
            </li>
            <li>
              <a href="#journal">
                <span class="navtxt"><span>J</span><span hidden>OU</span><span>RN</span><span hidden>A</span><span>L</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <article>
      <div class="wrap">
        <header class="atc-header">
          <h1>SELECTED WORKS</h1>
        </header>
        <section>
          <div class="sec-section">
            <div class="sec-text">
              <a href="https://viviana.com.br/" target="_blank">
                <h2>Viviana Alimentos</h2>
                <h3>Web Development, Freelance | 2018</h3>
              </a>
              <figure data-text="Viviana">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="http://fruteriasimons.com.br/" target="_blank">
                <h2>Fruteria Simon's</h2>
                <h3>Web Development, Freelance | 2017</h3>
              </a>
              <figure data-text="Fruteria">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="https://acemir.itch.io/sk8skull" target="_blank">
                <h2>Sk8Skull</h2>
                <h3>Game, Personal | 2016</h3>
              </a>
              <figure data-text="Sk8Skull">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/sk8skull/sk8skull-cover.jpg" | prepend: site.baseurl }}" alt="Sk8Skull"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="https://tespi.com.br/" target="_blank">
                <h2>TESPI Infotecnologias</h2>
                <h3>Web Development, Freelance | 2016</h3>
              </a>
              <figure data-text="Tespi">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="http://garupa.com.vc/" target="_blank">
                <h2>Garupa Design</h2>
                <h3>Web Development, Freelance | 2014</h3>
              </a>
              <figure data-text="Garupa">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
          </div>
        </section>
      </div>
    </article>
  </section>
  <section id="journal" class="sec sec-posts sec-auto">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li>
              <a href="#start">
                <span class="navtxt"><span>ST</span><span hidden>A</span><span>RT</span></span>
              </a>
            </li>
            <li>
              <a href="#profile">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>F</span><span hidden>I</span><span>L</span><span hidden>E</span></span>
              </a>
            </li>
            <li>
              <a href="#projects">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>C</span><span hidden>TS</span></span>
              </a>
            </li>
            <li class="current">
              <a href="#journal">
                <span class="glitch" data-text="JOURNAL">
                  <span class="navtxt"><span>J</span><span hidden>OU</span><span>RN</span><span hidden>A</span><span>L</span></span>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    {% assign posts=site.posts limit:1 | where:"lang", page.lang %}
    {% for post in posts %}
    <article class="atc-recent">
      <div class="wrap">
        <section>
          {% if post.figure %}{% include figure/{{post.figure}}.html %}{% endif %}
          <div class="sec-section">
            <div class="sec-text">
              <header><h1>RECENT</h1></header>
              <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                <h3>{{ post.date | date: "%b %-d, %Y" }}</h3>
              </a>
              <!-- <a class="btn" href="{{ post.url }}"><span>READ MORE</span></a> -->
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
            </div>
          </div>
        </section>
      </div>
    </article>
    {% endfor %}
  </section>
</main>
