<figure class="atom">
  <div class="circles">
    <div class="circles-wrap">
      <div class="circle-scale circle-main circle-1">
        <div class="circle-scale">
          <div class="circle-wrap">
            <div class="circle">
              <div class="circle-effect"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="circle-scale circle-main circle-2">
        <div class="circle-scale">
          <div class="circle-wrap">
            <div class="circle">
              <div class="circle-effect"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="circle-scale circle-main circle-3">
        <div class="circle-scale">
          <div class="circle-wrap">
            <div class="circle">
              <div class="circle-effect"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="circle-scale circle-main circle-4">
        <div class="circle-scale">
          <div class="circle-wrap">
            <div class="circle">
              <div class="circle-effect"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</figure>