---
layout: root
ref: index
lang: pt
---

<main>
  <section id="inicio" class="sec sec-home">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li class="current">
              <a href="#inicio" class="accent">
                <span class="glitch" data-text="INÍCIO">
                  <span class="navtxt"><span>INÍC</span><span hidden>I</span><span hidden>O</span></span>
                </span>
              </a>
            </li>
            <li>
              <a href="#perfil">
                <span class="navtxt"><span>P</span><span hidden>E</span><span>RF</span><span hidden>I</span><span>L</span></span>
              </a>
            </li>
            <li>
              <a href="#projetos">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>T</span><span hidden>OS</span></span>
              </a>
            </li>
            <li>
              <a href="#jornal">
                <span class="navtxt"><span>J</span><span hidden>O</span><span>RN</span><span hidden>A</span><span>L</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <article>
      <div class="wrap">
        <header class="atc-header">
          <h1>BEM-VINDO</h1>
        </header>
        <section>
          <div class="sec-section">
            <div class="sec-text">
              <h2>Olá, sou <a href="#profile">Acemir</a>,<br><a href="#projetos" title="Veja projetos de design">Designer</a> &amp; <a href="#projetos" title="Veja projetos de desenvolvimento">Desenvolvedor</a><br>de produtos interativos.</h2>
            </div>
          </div>
        </section>
      </div>
    </article>
  </section>
  <section id="perfil" class="sec sec-profile">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li>
              <a href="#inicio" class="accent">
                <span class="navtxt"><span>INÍC</span><span hidden>I</span><span hidden>O</span></span>
              </a>
            </li>
            <li class="current">
              <a href="#perfil">
                <span class="glitch" data-text="PERFIL">
                  <span class="navtxt"><span>P</span><span hidden>E</span><span>RF</span><span hidden>I</span><span>L</span></span>
                </span>
              </a>
            </li>
            <li>
              <a href="#projetos">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>T</span><span hidden>OS</span></span>
              </a>
            </li>
            <li>
              <a href="#jornal">
                <span class="navtxt"><span>J</span><span hidden>O</span><span>RN</span><span hidden>A</span><span>L</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <article>
      <div class="wrap">
        <header class="atc-header">
          <h1>SOBRE MIM</h1>
        </header>
        <section>
          <!-- <figure class="profile">
            <div class="pic">
              <div class="pic-wrap">
                <object class="profile-pic" data="{{ "/assets/img/photo_512_export.min.svg" | prepend: site.baseurl }}" type="image/svg+xml">
                  <img class="profile-pic" src="{{ "/assets/img/photo_512_export.png" | prepend: site.baseurl }}" alt="Profile picture" />
                </object>
              </div>
            </div>
          </figure> -->
          <div class="sec-section">
            <div class="sec-text">
              <h2>Pixel, Tinta & Código.</h2>
              <p>Sou um <strong>profissional versátil</strong> com mais de <strong>10 anos de experiência</strong>, conhecimento e interesse sempre crescentes em <strong>design digital</strong>, <strong>desenvolvimento de software</strong> e <strong>artes visuais</strong>. Sou capaz de trabalhar nas várias etapas que envolvem a concepção e o desenvolvimento de <strong>produtos interativos</strong>.</p>
              <h2>Vamos nos conectar?</h2>
              <p>Sinta-se livre para contactar-me por <strong><a href="mailto:acemirsm@gmail.com">email</a></strong> ou pela web.</p>
              <ul class="social">
                <!-- <li><a class="btn" href="mailto:acemirsm@gmail.com"><span class="symbol"><span class="ico">&#xe024;</span> <span>Envie-me um e-mail</span></span></a></li> -->
                <li><a class="btn" href="//behance.net/acemir" target="_blank"><span class="symbol"><span class="ico">&#xe009;</span><span> Dê uma olhada no meu portfolio no <strong>Behance</strong></span></span></a></li>
                <li><a class="btn" href="//github.com/acemir" target="_blank"><span class="symbol"><span class="ico">&#xe037;</span><span> Confira meus projetos de código livre no <strong>Github</strong></span></span></a></li>
                <li><a class="btn" href="//linkedin.com/in/acemir" target="_blank"><span class="symbol"><span class="ico">&#xe052;</span><span> Veja meu currículo no <strong>Linkedin</strong></span></span></a></li>
                <li><a class="btn" href="//twitter.com/acemir" target="_blank"><span class="symbol"><span class="ico">&#xe086;</span><span> Me acompanhe no <strong>Twitter</strong></span></span></a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </article>
  </section>
  <section id="projetos" class="sec sec-works sec-auto">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li>
              <a href="#inicio" class="accent">
                <span class="navtxt"><span>INÍC</span><span hidden>I</span><span hidden>O</span></span>
              </a>
            </li>
            <li>
              <a href="#perfil">
                <span class="navtxt"><span>P</span><span hidden>E</span><span>RF</span><span hidden>I</span><span>L</span></span>
              </a>
            </li>
            <li class="current">
              <a href="#projetos">
                <span class="glitch" data-text="PROJETOS">
                  <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>T</span><span hidden>OS</span></span>
                </span>
              </a>
            </li>
            <li>
              <a href="#jornal">
                <span class="navtxt"><span>J</span><span hidden>O</span><span>RN</span><span hidden>A</span><span>L</span></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <article>
      <div class="wrap">
        <header class="atc-header">
          <h1>TRABALHOS</h1>
        </header>
        <section>
          <div class="sec-section">
            <div class="sec-text">
              <a href="https://viviana.com.br/" target="_blank">
                <h2>Viviana Alimentos</h2>
                <h3>Desenvolvimento Web, Autônomo | 2018</h3>
              </a>
              <figure data-text="Viviana">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="http://fruteriasimons.com.br/" target="_blank">
                <h2>Fruteria Simon's</h2>
                <h3>Desenvolvimento Web, Autônomo | 2017</h3>
              </a>
              <figure data-text="Fruteria">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>            
            <div class="sec-text">
              <a href="https://acemir.itch.io/sk8skull" target="_blank">
                <h2>Sk8Skull</h2>
                <h3>Jogo, Pessoal | 2016</h3>
              </a>
              <figure data-text="Sk8Skull">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/sk8skull/sk8skull-cover.jpg" | prepend: site.baseurl }}" alt="Sk8Skull"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="https://tespi.com.br/" target="_blank">
                <h2>TESPI Infotecnologias</h2>
                <h3>Desenvolvimento Web, Autônomo | 2016</h3>
              </a>
              <figure data-text="Tespi">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
            <div class="sec-text">
              <a href="http://garupa.com.vc/" target="_blank">
                <h2>Garupa Design</h2>
                <h3>Desenvolvimento Web, Autônomo | 2014</h3>
              </a>
              <figure data-text="Garupa">
                <div class="pic">
                  <!-- <img src="{{ "/assets/img/portfolio/garupa-design/garupa-design-cover.jpg" | prepend: site.baseurl }}" alt="Garupa Design"> -->
                </div>
              </figure>
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
              <!-- <label class="btn"><span>SEE MORE</span></label> -->
            </div>
          </div>
        </section>
      </div>
    </article>
  </section>
  <section id="jornal" class="sec sec-posts sec-auto">
    <div class="sec-parent">
      <header class="sec-header">
        <nav>
          <ul>
            <li>
              <a href="#inicio" class="accent">
                <span class="navtxt"><span>INÍC</span><span hidden>I</span><span hidden>O</span></span>
              </a>
            </li>
            <li>
              <a href="#perfil">
                <span class="navtxt"><span>P</span><span hidden>E</span><span>RF</span><span hidden>I</span><span>L</span></span>
              </a>
            </li>
            <li>
              <a href="#projetos">
                <span class="navtxt"><span>PR</span><span hidden>O</span><span>J</span><span hidden>E</span><span>T</span><span hidden>OS</span></span>
              </a>
            </li>
            <li class="current">
              <a href="#jornal">
                <span class="glitch" data-text="JORNAL">
                  <span class="navtxt"><span>J</span><span hidden>O</span><span>RN</span><span hidden>A</span><span>L</span></span>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    {% assign posts=site.posts limit:1 | where:"lang", page.lang %}
    {% for post in posts %}
    <article class="atc-recent">
      <div class="wrap">
        <section>
          {% if post.figure %}{% include figure/{{post.figure}}.html %}{% endif %}
          <div class="sec-section">
            <div class="sec-text">
              <header><h1>RECENTES</h1></header>
              <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                {% assign months = "Jan|Fev|Mar|Abr|Mai|Jun|Jul|Ago|Set|Out|Nov|Dez" | split: "|" %}
                {% assign m = post.date | date: "%-m" | minus: 1 %}
                <h3>{{post.date | date: "%d"}} {{months[m]}} {{ post.date | date: "%Y" }}</h3>
              </a>
              <!-- <a class="btn" href="{{ post.url }}"><span>READ MORE</span></a> -->
              <!-- <p>Conceptual revision and website relaunch for an Security Service Company. The company have specialized in security services and service services for major events.</p> -->
            </div>
          </div>
        </section>
      </div>
    </article>
    {% endfor %}
  </section>
</main>
